@use '../mixin' as *;

.notify {
  display: flex;
  position: absolute;
  top: 0;
  left: 30%;
  flex-direction: column;
  align-items: center;
  width: 40%;
  z-index: 100;

  @include xs {
    left: 0;
    width: 100%;
  }

  &-success, &-error, &-info {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 30px;
    width: 80%;
    margin-top: 5px;
    border-radius: var(--border-radius);
    font-family: var(--font-lato);
    color: var(--light);

    @include xs {
      font-size: var(--font-size-small);
    }
  }

  &-success {
    box-shadow: 1px 1px 10px 1px var(--success);
    border: 1px solid green;
    background-color: var(--success);
  }

  &-info {
    box-shadow: 1px 1px 10px 1px var(--info);
    border: 1px solid orangered;
    background-color: var(--info);
  }

  &-error {
    box-shadow: 1px 1px 10px 1px var(--warning);
    border: 1px solid darkred;
    background-color: var(--warning);
  }
}