{% extends 'base.html.twig' %}

{% block title %}Chat Test{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-row-nowrap flex-fill">
        <button id="test">Test</button>
    </div>
{% endblock %}
