<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <p>Hello {{ pseudo }}</p>
    <p>Vous avez perdu votre mot de passe ?</p>
    <p>Pas de panique ! Pour modifier votre mot de passe, cliquer sur le lien ci-dessous : </p>
    <a href="{{ url('app_forgotten_password_reset', { 'pseudo': pseudo, 'token': token }) }}">Réinitialiser mon mot de passe</a>
</body>
</html>