{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <h1 class="pb-30">Mot de passe perdu</h1>
        {{ form_start(form, { 'attr': { 'class': "box-shadow p-30"}}) }}
        {{ form_rest(form) }}
        <div class="d-flex flex-row-nowrap justify-content-center mb-20">
            <button class="btn btn-lg btn-primary" type="submit">
                Valider
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
