{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <h1 class="pb-30">Se connecter</h1>
        <form method="post" name="signin" class="box-shadow p-30">
            {% if error %}
            <div class="form-errors pb-20">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}

            <div class="form-row">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-row">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="d-flex flex-row-nowrap justify-content-center mb-20">
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
            <div class="d-flex flex-row-nowrap justify-content-between">
                <a href="#">Mot de passe perdu ?</a>
                <a href="{{ path('app_register') }}">Pas encore de compte ?</a>
            </div>
        </form>
    </div>
{% endblock %}
