@use 'mixin' as *;

.app-content {
  background-color: var(--body-background);
}

.content {
  &-main {
    max-width: var(--max-width);
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: rgba(221, 221, 221, 0.15);

  &:hover {
    background-color: rgba(221, 221, 221, 0.3);
  }
}

.scrollbar {
  &-light {
    &::-webkit-scrollbar {
      background-color: var(--gray-light);
      border-radius: var(--border-radius);
      box-shadow: inset 0 0 2px 0 var(--gray-dark);
      height: 100vh;
      width: 7px;
    }

    &::-webkit-scrollbar:hover {
      box-shadow: inset 0 0 3px 0 black;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray);
      border-radius: var(--border-radius);
    }
  }

  &-dark {
    &::-webkit-scrollbar {
      background-color: var(--gray-dark-transparent);
      box-shadow: inset 0 0 2px 0 var(--light);
      border-radius: var(--border-radius);
      height: 100vh;
      width: 8px;
    }

    &::-webkit-scrollbar:hover {
      box-shadow: inset 0 0 2px 0.5px var(--light);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-dark);
      border-radius: var(--border-radius);
      box-shadow: unset 0 0 3px 10px var(--gray-dark-transparent);
    }

    &::-webkit-scrollbar-thumb:hover {
      border-radius: var(--border-radius);
      box-shadow: inset 0 0 1px 1px var(--gray);
    }
  }
}